/*
Colors to use:
dark blue: 
light blue: #1c5380
*/

body {
  background: linear-gradient(to bottom, #06365f 50%, white 50%);
}

.body-items {
  font: 200 16px/1.5 "Helvetica Neue", Helvetica, Arial, sans-serif;
  margin-top: 10%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;

}

h1{
  width: 400px;
  color: #06365f;
}

p{
  width: 400px;

}

.container {
  display: flex;
  justify-content: center;
  align-content: center; 
}

.pading {
  padding-left: 50px;
  padding-right: 50px;
}
.margin-section {
  margin-left: 40px;
  position: relative;
  top: -270px;  
}

.margin-pics-below {
   margin-right: 30px;
   margin-left: 30px;
   margin-top: 30px;
}

li {
  display: flex;
  text-decoration: none;  
  align-content: space-around;
}

img {
  transform: scale(1.1); 
}

